.emi-screen
{
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 102.4rem;
	height: 80%;
	position: absolute;
	margin: auto;
	z-index: 999;
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 5px solid transparent;
	border-image:  url("coui://gfx/mods/msu/skin/generic_background_large_border.png") 50 fill / 1rem / 2rem stretch;
}
.emi-mod-title-header
{
	justify-content: center;
}
.emi-title
{
	display:flex;
	justify-content: center;
}
.emi-content-header
{
	height: 9rem;
	width: 100%;
	padding: 1rem;
	padding-bottom: 1.5rem;
	margin-bottom: 1rem;
}
.emi-content-container
{
	flex: 1;
	width: 100%;
	overflow: auto;
	justify-content: center;
	align-items: center;
}
.emi-content-message
{

}
.emi-scroll-container
{
	
}
.emi-content-scroll-container
{
}
.emi-header-button-bar
{
	height: 4rem;
	width: 100%;
	display: inline-flex;
	flex-direction: row;
	margin-top: 2rem;
	text-align: center;
	align-items: center;
	justify-content: center;
}
.emi-header-button
{
	max-width: 30rem;
	margin-right: 1rem;
	display: flex;
	align-items: center;
	justify-content: center; 
}
.emi-event-summary
{
	height: 3rem;
	padding: 1rem;
	width: 100%;
	margin: 1rem;
	display: flex;
	flex-direction: row;
	/* justify-content: space-around; */
}
.emi-event-summary-content
{
	margin-right: 2rem;
}
.emi-event-summary-content:last-child
{
	margin-right: 0;
}
.emi-checkbox
{

}
.emi-checkbox-label
{
	margin-right: 1rem;
}
.emi-table-header
{
	display: flex;
	height: 2rem;
	margin-top: 1rem;
	padding: 1rem;
	padding-left: 2.5rem;
	padding-right: 3rem;
	flex-direction: row;
}
.emi-event-container
{
	display:flex;
	flex-direction: row;
	padding-top: 1rem;
	padding-bottom: 1rem;
	margin: 15px;
	border: 10px solid transparent;
	border-image:  url("coui://gfx/mods/msu/skin/generic_background_large_border.png") 50 fill stretch;
}
.emi-event-item-name
{
	width: 60%;
	justify-content: start;
	margin-bottom: 3px;
}
.emi-event-item-score
{
	width: 40%;
	margin-bottom: 3px;
}
.emi-cooldown-item-name
{
	width:40%;
	justify-content: start;
	margin-bottom: 3px;
}
.emi-cooldown-item-fired-on
{
	width:30%;
	justify-content: start;
	margin-bottom: 3px;
}
.emi-cooldown-item-cooldown-until-day
{
	width:30%;
	justify-content: start;
	margin-bottom: 3px;
}
.brother-highlight
{
	color: green;
}
/* .emi-overview-perks-row
{
	display:flex;
   	background-image: url("coui://gfx/ui/skin/custom_background_698_40.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	padding-top:1rem;
	padding-bottom: 1rem;
}
//if the special loose group, we just want one large cell
.emi-overview-perks-row[data-perkgroupid="looseperksgroup"] .emi-overview-perks-row-cell:nth-child(2)
{
	flex:initial;
}
.emi-overview-perks-row-cell
{
	flex:1;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	border-left: 1px solid rgba(0,0,0,0.4);
	border-right: 1px solid rgba(0,0,0,0.4);
}
.emi-overview-perks-row-cell:first-child
{
	border-left: none;
}
.emi-overview-perks-row-cell:last-child
{
	border-right: none;
}
.emi-overview-perks-row-cell.emi-overview-perkgroup-cell
{
	border-right: 2px solid rgba(0, 0, 0, 0.7);
	background-color: rgba(87, 65, 43, 0.3);
	margin-left: 7px;
} 
*/
.emi-overview-filter-container
{
/*	height:10%;*/
	width:100%;
	height:5rem;
	padding: 2rem;
	padding-left: 5rem;
	/*justify-self: flex-end;*/
	display: flex;
	flex-direction: column;
/*	align-items: center;*/
	justify-content: center;
}
.emi-overview-filter-by-name-row
{
	display:flex;
}
.emi-overview-filter-by-name-row  span
{
	margin-right: 3rem;
	display: inline-flex;
	align-items: center;
}
.emi-filter-tab-wrapper
{
	width: 17rem;
}
.emi-filter-tab-button
{
	width: 17.4rem;
	height: 3rem;
	margin-right: 0.66rem;
	display: inline-block;
	line-height: 3.0rem;
}
.emi-overview-filter-bar-container
{
    width: 30.0rem;
    height: 4.0rem;
	margin-top: .6rem;
	margin-right: 3rem;
    color:black;
}
.emi-filter
{
	width: 100%;
	background-color: rgba(0, 0, 0, 0);
	border: none;
    outline: none;

	text-shadow: 1px 1px 1px #000;

    -moz-user-select: -moz-text;
    -webkit-user-select: text;
    user-select: text;

	background-image: url("coui://gfx/ui/skin/text_input_300x40_inactive.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.emi-filter:hover,
.emi-filter:focus
{
    /*border-color: rgb(129, 50, 24);*/
    background-image: url("coui://gfx/ui/skin/text_input_300x40_selected.png");
}
.emi-overview-footer
{
	display:flex;
	align-items: center;
	justify-content: center;
}
.emi-overview-footer .ui-control
{
	height:4.3rem;
	width: 17.5rem;
}
.emi-filter-button
{
	width: 20rem;
	height: 4rem;
	margin-right: 1rem;
	display: flex;
	align-items: center;
	justify-content: center; 
}
.emi-show-overview-screen-container
{
	width: 4.5rem;
	height:  4.1rem;
	position: absolute;
	right:-4px;
	bottom: 5rem;
}

.ui-control.emi-custom-header-button
{
	width: 100%;
	height: 5.5rem;
	position: relative;

    background-image: url("coui://gfx/ui/skin/button_tab_default.png");
    background-size: 30.0rem 5.5rem;
	text-shadow: 1px 1px 1px #000;

    color: #dda21f;
}

.ui-control.emi-custom-header-button:hover
{
    background-image: url("coui://gfx/ui/skin/button_tab_hovered.png");
    background-size: 30.0rem 5.5rem;
	opacity: .8;
    color: #f0b121;
}

.ui-control.emi-custom-header-button.is-selected
{
    background-image: url("coui://gfx/ui/skin/button_tab_hovered.png");
    background-size: 30.0rem 5.5rem;
    color: #f0b121;
}

.ui-control.emi-custom-header-button.is-selected
{
    text-shadow: 1px 1px #A36426, -1px -1px #000;
    color: #f0b121;
}

.ui-control.emi-custom-header-button.is-active
{
    background-image: url("coui://gfx/ui/skin/button_tab_hovered.png");
    background-size: 30.0rem 5.5rem;
    color: #f0b121;
}

.ui-control.emi-custom-header-button[disabled]
{
	color : #a7a7a7;
    background-image: url("coui://gfx/ui/skin/button_tab_inactive.png");
    background-size: 30.0rem 5.5rem;
}

.ui-control.emi-custom-header-button[disabled]:hover
{
    background-image: url("coui://gfx/ui/skin/button_tab_inactive.png");
    background-size: 30.0rem 5.5rem;
}

.ui-control.emi-custom-header-button[disabled]:active
{
    background-image: url("coui://gfx/ui/skin/button_tab_inactive.png");
    background-size: 30.0rem 5.5rem;
}

.ui-control.emi-custom-header-button > .label
{
    top: .9rem;
	bottom: 0;
	left: 0.3rem;
	right: 0;

	position: absolute;

    margin-top: 0.4rem;
	margin-left: 0.4rem;
	margin-right: 0.4rem;
	text-align : center;

    overflow: hidden;
}

.ui-control.emi-custom-header-button.is-selected > .label
{
    top: 1.0rem;
    left: 0.4rem;
}

.ui-control.emi-custom-header-button > img
{
    top: 2.0rem;
    left: 1.0rem;
    right: 0;
    bottom: 0;
    position: absolute;
}

.ui-control.emi-custom-header-button[disabled] > img
{
    -webkit-filter: grayscale(100%);
}

.ui-control.emi-custom-header-button.is-selected > img
{
    top: 2.0rem;
    left: 1.0rem;
}

.emi-tab-button
{
	max-width: 12.1rem;
	margin-right: 1rem;
	display: flex;
	align-items: center;
	justify-content: center; 
}

.ui-control.emi-custom-tab-button
{
	width: 100%;
	height: 100%;
	position: relative;

    background-image: url("coui://gfx/ui/skin/button_tab_default.png");
    background-size: 12rem 4.3rem;
	text-shadow: 1px 1px 1px #000;

    color: #dda21f;
}

.ui-control.emi-custom-tab-button:hover
{
	background-image: url("coui://gfx/ui/skin/button_tab_hovered.png");
    background-size: 12rem 4.3rem;
    color: #f0b121;
	opacity: .9;
}
.ui-control.emi-custom-tab-button.is-selected
{
    background-image: url("coui://gfx/ui/skin/button_tab_hovered.png");
    background-size: 12rem 4.3rem;
    color: #f0b121;
}

.ui-control.emi-custom-tab-button.is-selected
{
    /*text-shadow: 1px 1px #A36426, -1px -1px #000;*/
    color: #f0b121;
}

.ui-control.emi-custom-tab-button.is-active
{
    background-image: url("coui://gfx/ui/skin/button_tab_hovered.png");
    background-size: 12rem 4.3rem;
    color: #f0b121;
}

.ui-control.emi-custom-tab-button[disabled]
{
	color : #a7a7a7;
    background-image: url("coui://gfx/ui/skin/button_tab_inactive.png");
    background-size: 12rem 4.3rem;
}

.ui-control.emi-custom-tab-button[disabled]:hover
{
    background-image: url("coui://gfx/ui/skin/button_tab_inactive.png");
    background-size: 12rem 4.3rem;
}

.ui-control.emi-custom-tab-button[disabled]:active
{
    background-image: url("coui://gfx/ui/skin/button_tab_inactive.png");
    background-size: 12rem 4.3rem;
}

.ui-control.emi-custom-tab-button > .label
{
    top: 0;
	bottom: .9rem;
	left: 3.7rem;
	right: 0;

	position: absolute;

    margin-top: 0.4rem;
	text-align : center;

    overflow: hidden;
}

.ui-control.emi-custom-tab-button.is-selected > .label
{
    top: 0;
    left: 0;
}

.ui-control.emi-custom-tab-button > img
{
    top: -0.3rem;
    left: 0;
    right: 0;
    bottom: 0;
    /*width: 80%;
    height: 80%;*/
    position: absolute;
    margin: auto;
}

.ui-control.emi-custom-tab-button[disabled] > img
{
    -webkit-filter: grayscale(100%);
}

.ui-control.emi-custom-tab-button.is-selected > img
{
    top: -0.2rem;
    left: 0.1rem;
}
