/************************************
* Mod Event Manager popup screen
*************************************/
/* .emi-screen
{
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 102.4rem !important;
	height: 75% !important;
	position: absolute;
	margin: auto;
	z-index: 999;
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 5px solid transparent;
	border-image: url("coui://gfx/mods/msu/skin/generic_background_large_border.png") 50 fill / 1rem / 2rem stretch;
} */

.emi-screen
{
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
	z-index: 900;
}

.emi-screen > .emi-screen-container
{
	top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 102.4rem;
    height: 76.8rem;
    position: absolute;
    margin: auto;
    z-index: 999;
}

.emi-screen > .emi-screen-container .l-tab-container
{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 88.0rem;
    height: 3.0rem;
    display: flex;
	justify-content: center;
    margin: auto;
}

.emi-screen > .emi-screen-container .l-tab-container .l-tab-button
{
    width: 17.4rem;
    height: 4.3rem;
    float: left;
    margin-right: 0.66rem;
    line-height: 3.0rem;
}

.emi-screen > .emi-screen-container .l-tab-container .l-tab-button:last-child
{
    margin-right: 0;
}

.emi-screen > .emi-screen-container .footer .l-button-bar
{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 16.0rem;
    height: 4.3rem;
    position: absolute;
    margin: auto;
}


.emi-screen > .emi-screen-container .footer .l-leave-button
{
    top: 0;
    right: 0;
    bottom: 0;
    width: 17.5rem;
    position: absolute;

    line-height: 3.0rem;
}


/************************************
* Title Bar
*************************************/
.emi-title
{
	display:flex;
	justify-content: center;
	height: 5rem;
}


/************************************
* Header Button styling
*************************************/
.emi-header-button-bar
{
	height: 4rem;
	width: 100%;
	display: inline-flex;
	flex-direction: row;
	margin-top: 2rem;
	text-align: center;
	align-items: center;
	justify-content: center;
}
.emi-header-button
{
	max-width: 30rem;
	margin-right: 1rem;
	display: flex;
	align-items: center;
	justify-content: center; 
}


/************************************
* Summary Header styling
*************************************/
.emi-content-header
{
	/* height: 9rem; */
	width: 100%;
	/* padding: 1rem;
	padding-bottom: 1.5rem;
	margin-bottom: 1rem; */
}

.emi-table-header
{
	display: flex;
	margin-top: 1rem;
	padding-top: 1rem;
	padding-bottom: 1rem;	
	padding-left: 4rem;
	padding-right: 5.5rem;
	flex-direction: row;
}

.emi-event-summary
{
	/* height: 3rem; */
	/* padding: 1rem; */
	padding-top: 1rem;
	padding-bottom: 1rem;
	padding-left: 3.5rem;
	padding-right: 3.5rem;
	/* width: 100%; */
	margin-bottom: 1rem;
	display: flex;
	flex-direction: row;
}
.emi-event-summary-content
{
	margin-right: 5rem;
}
.emi-event-summary-content:last-child
{
	margin-right: 0;
}


/************************************
* Event container styling
*************************************/
.emi-content-container
{
	/* flex: 1; */
	width: 100%;
	overflow: auto;
	justify-content: center;
	align-items: center;
	position: absolute !important;
	top: 95;
	left: 0;
	right: 0;
	bottom: 70;
	padding-left: 3.5rem;
	padding-right: 3rem;
}
.emi-content-message
{

}
.emi-scroll-container
{
	
}


/************************************
* Event row styling
*************************************/
.emi-event-container
{
	display:flex;
	flex-direction: row;
	height: 5rem;
	align-items: center;
	/* padding-top: .5rem;
	padding-bottom: .5rem;
	margin-left: 15px;
	margin-right: 15px; */
	margin-top: 10px;
	margin-bottom: 10px;
	border: 4px solid transparent;
	border-image: url("coui://gfx/mods/msu/skin/generic_background_large_border.png") 50 fill stretch;
}
.emi-event-container:first-child
{
	margin-top:0;
}
.emi-event-container:last-child
{
	margin-bottom: 0;
}
.emi-event-item-icon-container
{
	width: 8%;
	display: flex;
	padding-left: 1rem;
	justify-content: start;
}
.emi-event-item-icon
{
	/* width: 100%; */
	height: 100%;
	
	object-fit: contain;
	/* padding: 2rem; */
}
.emi-event-item-name
{
	width: 77%;
	justify-content: start;
}
.emi-event-item-score
{
	width: 15%;
	justify-content: start;
	/* margin-bottom: 3px; */
}
.emi-cooldown-item-name
{
	width:40%;
	justify-content: start;
	/* margin-bottom: 3px; */
}
.emi-cooldown-item-fired-on
{
	width:30%;
	justify-content: start;
	/* margin-bottom: 3px; */
}
.emi-cooldown-item-cooldown-until-day
{
	width:30%;
	justify-content: start;
	/* margin-bottom: 3px; */
}
.brother-highlight
{
	color: green !important;
}


/************************************
* Filter row
*************************************/
.emi-overview-filter-container
{
	width:100%;
	height:5rem;
	padding-left: 3.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: absolute;
	bottom: 12;
	left: 0;
	right: 0;
}
.emi-overview-filter-by-name-row
{
	display:flex;
}
.emi-overview-filter-by-name-row  span
{
	margin-right: 3rem;
	display: inline-flex;
	align-items: center;
}
.emi-filter-tab-wrapper
{
	width: 17rem;
}
.emi-filter-tab-button
{
	width: 17.4rem;
	height: 3rem;
	margin-right: 0.66rem;
	display: inline-block;
	line-height: 3.0rem;
}
.emi-overview-filter-bar-container
{
    width: 30.0rem;
    height: 4.0rem;
	margin-top: .6rem;
	margin-right: 3rem;
    color:black;
}
.emi-filter
{
	width: 100%;
	background-color: rgba(0, 0, 0, 0);
	border: none;
    outline: none;
	text-shadow: 1px 1px 1px #000;
    -moz-user-select: -moz-text;
    -webkit-user-select: text;
    user-select: text;
	background-image: url("coui://gfx/ui/skin/text_input_300x40_inactive.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.emi-filter:hover,
.emi-filter:focus
{
    background-image: url("coui://gfx/ui/skin/text_input_300x40_selected.png");
}
.emi-overview-footer
{
	display:flex;
	align-items: center;
	justify-content: center;
}
.emi-overview-footer .ui-control
{
	height:4.3rem;
	width: 17.5rem;
}


/************************************
* Checkbox styling
*************************************/
.emi-checkbox
{

}
.emi-checkbox-label
{
	margin-left: 1rem;
}


/************************************
* Custom Header Button
*************************************/
/* .ui-control.emi-custom-header-button
{
	width: 100%;
	height: 5.5rem;
	position: relative;
    background-image: url("coui://gfx/ui/skin/button_tab_default.png");
    background-size: 30.0rem 5.5rem;
	text-shadow: 1px 1px 1px #000;
    color: #dda21f;
}

.ui-control.emi-custom-header-button:hover
{
    background-image: url("coui://gfx/ui/skin/button_tab_hovered.png");
    background-size: 30.0rem 5.5rem;
	opacity: .8;
    color: #f0b121;
}

.ui-control.emi-custom-header-button.is-selected
{
    background-image: url("coui://gfx/ui/skin/button_tab_hovered.png");
    background-size: 30.0rem 5.5rem;
    color: #f0b121;
}

.ui-control.emi-custom-header-button.is-selected
{
    text-shadow: 1px 1px #A36426, -1px -1px #000;
    color: #f0b121;
}

.ui-control.emi-custom-header-button.is-active
{
    background-image: url("coui://gfx/ui/skin/button_tab_hovered.png");
    background-size: 30.0rem 5.5rem;
    color: #f0b121;
}

.ui-control.emi-custom-header-button[disabled]
{
	color : #a7a7a7;
    background-image: url("coui://gfx/ui/skin/button_tab_inactive.png");
    background-size: 30.0rem 5.5rem;
}

.ui-control.emi-custom-header-button[disabled]:hover
{
    background-image: url("coui://gfx/ui/skin/button_tab_inactive.png");
    background-size: 30.0rem 5.5rem;
}

.ui-control.emi-custom-header-button[disabled]:active
{
    background-image: url("coui://gfx/ui/skin/button_tab_inactive.png");
    background-size: 30.0rem 5.5rem;
}

.ui-control.emi-custom-header-button > .label
{
    top: .9rem;
	bottom: 0;
	left: 0.3rem;
	right: 0;
	position: absolute;
    margin-top: 0.4rem;
	margin-left: 0.4rem;
	margin-right: 0.4rem;
	text-align : center;
    overflow: hidden;
}

.ui-control.emi-custom-header-button.is-selected > .label
{
    top: 1.0rem;
    left: 0.4rem;
}

.ui-control.emi-custom-header-button > img
{
    top: 2.0rem;
    left: 1.0rem;
    right: 0;
    bottom: 0;
    position: absolute;
}

.ui-control.emi-custom-header-button[disabled] > img
{
    -webkit-filter: grayscale(100%);
}

.ui-control.emi-custom-header-button.is-selected > img
{
    top: 2.0rem;
    left: 1.0rem;
}
 */

/************************************
* Custom Tab Button
*************************************/
.emi-tab-button
{
	max-width: 12.1rem;
	margin-right: 1rem;
	display: flex;
	align-items: center;
	justify-content: center; 
}

.ui-control.emi-custom-tab-button
{
	width: 100%;
	height: 100%;
	position: relative;
    background-image: url("coui://gfx/ui/skin/button_tab_default.png");
    background-size: 12rem 4.3rem;
	text-shadow: 1px 1px 1px #000;
    color: #dda21f;
}

.ui-control.emi-custom-tab-button:hover
{
	background-image: url("coui://gfx/ui/skin/button_tab_hovered.png");
    background-size: 12rem 4.3rem;
    color: #f0b121;
	opacity: .9;
}
.ui-control.emi-custom-tab-button.is-selected
{
    background-image: url("coui://gfx/ui/skin/button_tab_hovered.png");
    background-size: 12rem 4.3rem;
    color: #f0b121;
}

.ui-control.emi-custom-tab-button.is-selected
{
    color: #f0b121;
}

.ui-control.emi-custom-tab-button.is-active
{
    background-image: url("coui://gfx/ui/skin/button_tab_hovered.png");
    background-size: 12rem 4.3rem;
    color: #f0b121;
}

.ui-control.emi-custom-tab-button[disabled]
{
	color : #a7a7a7;
    background-image: url("coui://gfx/ui/skin/button_tab_inactive.png");
    background-size: 12rem 4.3rem;
}

.ui-control.emi-custom-tab-button[disabled]:hover
{
    background-image: url("coui://gfx/ui/skin/button_tab_inactive.png");
    background-size: 12rem 4.3rem;
}

.ui-control.emi-custom-tab-button[disabled]:active
{
    background-image: url("coui://gfx/ui/skin/button_tab_inactive.png");
    background-size: 12rem 4.3rem;
}

.ui-control.emi-custom-tab-button > .label
{
    top: 0;
	bottom: .9rem;
	left: 3.7rem;
	right: 0;
	position: absolute;
    margin-top: 0.4rem;
	text-align : center;
    overflow: hidden;
}

.ui-control.emi-custom-tab-button.is-selected > .label
{
    top: 0;
    left: 0;
}

.ui-control.emi-custom-tab-button > img
{
    top: -0.3rem;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    margin: auto;
}

.ui-control.emi-custom-tab-button[disabled] > img
{
    -webkit-filter: grayscale(100%);
}

.ui-control.emi-custom-tab-button.is-selected > img
{
    top: -0.2rem;
    left: 0.1rem;
}


/************************************
* Custom emi-button-7 Styles
*************************************/
/*.ui-control.emi-button-7
{
	width: 100%;
	height: 100%;
	position: relative;

    background-image: url("coui://gfx/ui/skin/button_tab_default.png");
    background-size: 17.4rem 4.3rem;
	text-shadow: 1px 1px 1px #000;

    color: #dda21f;
}
.ui-control.emi-button-7:hover
{
	background-image: url("coui://gfx/ui/skin/button_tab_hovered.png");
    background-size: 17.4rem 4.3rem;
    color: #f0b121;
	opacity: .9;
}
.ui-control.emi-button-7.is-selected
{
    background-image: url("coui://gfx/ui/skin/button_tab_hovered.png");
    background-size: 17.4rem 4.3rem;
    color: #f0b121;
}
.ui-control.emi-button-7.is-selected
{
    color: #f0b121;
}
.ui-control.emi-button-7.is-active
{
    background-image: url("coui://gfx/ui/skin/button_tab_hovered.png");
    background-size: 17.4rem 4.3rem;
    color: #f0b121;
}
.ui-control.emi-button-7[disabled]
{
	color : #a7a7a7;
    background-image: url("coui://gfx/ui/skin/button_tab_inactive.png");
    background-size: 17.4rem 4.3rem;
}

.ui-control.emi-button-7[disabled]:hover
{
    background-image: url("coui://gfx/ui/skin/button_tab_inactive.png");
    background-size: 17.4rem 4.3rem;
}

.ui-control.emi-button-7[disabled]:active
{
    background-image: url("coui://gfx/ui/skin/button_tab_inactive.png");
    background-size: 17.4rem 4.3rem;
}
.ui-control.emi-button-7 > .label
{
    top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
    margin-top: 0.4rem;
	text-align : center;
    overflow: hidden;
}
.ui-control.emi-button-7.is-selected > .label
{
    top: 0;
    left: 0;
}
	*/